body > div {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #f5f5f5;
    height: 100%;
}

.form-signin {
    max-width: 450px;
    padding: 15px;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
}

.bi {
    vertical-align: -.125em;
    fill: currentColor;
}

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

.nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.card {
    background-color: #ffffff;
    box-shadow: 2px 2px 5px #333333;
    border-radius: 20px;
    border: 0 !important;
}

.card-header {
    background-color: #c92534;
    border-radius: 20px 20px 0 0 !important;
}

.card-body {
    padding-left: 3rem;
    padding-right: 3rem;
}

.card-header .titulo {
    color: #ffffff;
    margin-top: 0.5rem;
}

.logo {
    width: 250px;
    margin-bottom: 20px;
}

.forgot-password {
    color: #7a7a7a;
}

.forgot-password:hover {
    color: #333333;
}

.login-button {
    background-color: #c92534;
    color: #ffffff;
}

.login-button:hover {
    background-color: #a82732 !important;
    color: #ffffff !important;
}

input {
    background-color: #f5f5f5 !important;
    color: #7a7a7a !important;
}

select {
    background-color: #f5f5f5 !important;
    color: #7a7a7a !important;
}